<!DOCTYPE html>
<html>
<head>
  <title>EQ2EMu Dawn Dashboard</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="dashboard-container">
<script>
	function MakeCall(uri) {
		fetch(uri)
			.then(response => {
			// no need
			})
			.catch(error => {
				console.error('Error making call:', error);
			});
			fetchUpdates(); // get an update asap
	}
	function open_popup(target) {
    window.open(target, 'eq2emu_popup', 'width=' + screen.width + ',height=' + screen.height + ',resizeable,scrollbars');
	}
	
</script>
  <h2>Welcome, <%= username %>!</h2>
  <% server_status = "unavailable" %>
  <% if (server_loaded == 1 && login_status === 'online' && world_status === 'online' && worldlogin_connected === 'connected') {
	server_status = "available"
  } %>
  <% ls_status = "unavailable" %>
  <% if (login_status === 'online') {
	ls_status = "available"
  } %>
  <% ws_status = "unavailable" %>
  <% if (world_status === 'online') {
	ws_status = "available"
  } %>
  <h3 id="serverStatusHeader" class="<%= server_status %>"></h3>
  <p>Your role: <%= role %></p>
   <% if (role == 'admin') { %>
	<table><tr>
	<th><button id="register" class="button" onclick="open_popup('/register')">Create New User</button></th>
	<th><button id="download_report" class="button" onclick="open_popup('/download_report')">Generate EQ2Emu Diag Report</button></th>
	<th><a href="#" class="button" onclick="if(confirm('Are you sure you wish to force restart the dawn web server?') == true) MakeCall('/kill_server');">Kill/Restart Dawn Web Server</a></th>
	<th><a href="#" class="button" onclick="if(confirm('Are you sure you wish to restart all services?') == true) MakeCall('/kill_and_compile');">Kill/Compile Login, World, Web Server</a></th>
	</tr></table><br/>
   <% } %>
  <table>
  <tr>
        <th>Server Type</th>
        <th>Status</th>
        <th>Uptime</th>
        <th>World->Login Connected</th>
        <th>Commands</th>
        <th>PID</th>
  </tr>
  <tr>
  <td id="loginName">Login</td>
  <td id="statusLogin" class="<%= ls_status %>"><%= login_status %></td>
  <td id="statusLoginUptime">
  <% if (login_uptime !== '') { %>
	<%= login_uptime %>
  <% } %>
  </td>
  <td>N/A</td>
  <td>
  <table border="0" cellspacing="0" cellpadding="0">
	  <tr>
		 <th><button id="view_login_log" class="button" onclick="open_popup('/view_login_log')">View Log</button></th>
		 <th><button id="start_login" class="button" onclick="MakeCall('/start_login'); window.alert('Login Start Request Sent');">Start</button></th>
		 <th><button id="stop_login" class="button" onclick="if(confirm('Are you sure you wish to force stop the login server?') == true) { MakeCall('/stop_login'); window.alert('Login Stop Request Sent'); }">Stop</button></th>
	  </tr>
  </table>
  </td>
  <td id="statusLoginPID"><%= login_pid %></td>
  </tr>
  
  
  <tr>
  <td id="worldName">World</td>
  <td id="statusWorld" class="<%= ws_status %>"><%= world_status %></td>
  <td id="statusWorldUptime">
  <% if (world_uptime !== '') { %>
	<%= world_uptime %>
  <% } %>
  </td>
  <% wl_status = "unavailable" %>
  <% if (worldlogin_connected === 'connected') {
	wl_status = "available"
  } %>
  <td id="statusWorldLoginConnected" class="<%= wl_status %>"><%= worldlogin_connected %></td>
  <td>
  <table border="0" cellspacing="0" cellpadding="0">
	  <tr>
		  <th><button id="view_world_log" class="button" onclick="open_popup('/view_world_log')">View Log</button></th>
		  <th><button id="start_world" class="button" onclick="MakeCall('/start_world'); window.alert('World Start Request Sent')">Start</button></th>
		  <th><button id="stop_world" class="button" onclick="if(confirm('Are you sure you wish to force stop the world server?') == true) { MakeCall('/stop_world'); window.alert('World Stop Request Sent'); }">Stop</button></th>
		  <th><button id="list_clients" class="button" onclick="open_popup('/world_clients')">List Clients</button></th>
		  <th><button id="view_rulesets" class="button" onclick="open_popup('/rulesets')">Rules</button></th>
	  </tr>
  </table>
  </td>
  <td id="statusWorldPID"><%= world_pid %></td>
  </tr>
  </table>

  <a href="/">Logout</a>
  
  
    <script>
        // Function to fetch updates from the server
        async function fetchUpdates() {
            try {
                const response = await fetch('/dashboard_update');
                const data = await response.json();
                
                // Update the DOM with the fetched data
				var message = "Unknown Status";
				if(data.server_loaded == -1) {
					window.location.href = window.location.protocol + "//" + window.location.host + "/";
				}
				else if(data.server_loaded == 0) {
						if(data.server_recompile == 1) {
							message = "Server is recompiling login and world, please wait!";
						}
						else {
							message = "Server is starting up, please wait!";
						}
				   } else if(data.ls_status === 'unavailable' || data.ws_status === 'unavailable') {
						message = "Database and configuration loaded, login and/or world not yet online";
				} else if(data.worldlogin_connected !== 'connected') {
						message = "World is not connected to login server!";
				} else {
						message = "Server Running!";
				}
				
				server_status = "unavailable";
				if (data.server_loaded == 1 && data.login_status === 'online' && data.world_status === 'online' && data.worldlogin_connected === 'connected') {
					server_status = "available"
				}
				ls_status = "unavailable"
				if (data.login_status === 'online') {
					ls_status = "available"
				}
				ws_status = "unavailable"
				if (data.world_status === 'online') {
					ws_status = "available"
				}
				wl_status = "unavailable"
				if (data.worldlogin_connected === 'connected') {
					wl_status = "available"
				}
				
				
				if (data.role == 'admin') {
						document.getElementById("view_login_log").disabled = false;
						document.getElementById("view_world_log").disabled = false;
					if(data.login_pid > 0) {
						document.getElementById("start_login").disabled = true;
						document.getElementById("stop_login").disabled = false;
					}
					else {
						document.getElementById("start_login").disabled = false;
						document.getElementById("stop_login").disabled = true;
					}
					
					if(data.world_pid > 0) {
						document.getElementById("start_world").disabled = true;
						document.getElementById("stop_world").disabled = false;
						document.getElementById("list_clients").disabled = false;
					}
					else {
						document.getElementById("start_world").disabled = false;
						document.getElementById("stop_world").disabled = true;
						document.getElementById("list_clients").disabled = true;
					}
				}
				else {
						document.getElementById("start_login").disabled = true;
						document.getElementById("stop_login").disabled = true;
						document.getElementById("start_world").disabled = true;
						document.getElementById("stop_world").disabled = true;
						document.getElementById("list_clients").disabled = true;
						document.getElementById("view_login_log").disabled = true;
						document.getElementById("view_world_log").disabled = true;
				}
                document.getElementById('serverStatusHeader').innerText = message;
                document.getElementById('serverStatusHeader').className = server_status;
				document.getElementById('statusWorldPID').innerText = data.world_pid;
				document.getElementById('statusWorld').innerText = data.world_status;
				document.getElementById('statusWorld').className = ws_status;
				document.getElementById('statusWorldUptime').innerText = data.world_uptime;
				document.getElementById('statusWorldLoginConnected').innerText = data.worldlogin_connected;
				document.getElementById('statusWorldLoginConnected').className = wl_status;
				if(data.world_version !== null) {
					document.getElementById('worldName').innerText = "World " + data.world_version.version + String.fromCharCode(13) + data.world_version.compile_date + " " + data.world_version.compile_time;
				}
				
				document.getElementById('statusLoginPID').innerText = data.login_pid;
				document.getElementById('statusLogin').innerText = data.login_status;
				document.getElementById('statusLogin').className = ls_status;
				document.getElementById('statusLoginUptime').innerText = data.login_uptime;
				if(data.login_version !== null) {
					document.getElementById('loginName').innerText = "Login " + data.login_version.version + String.fromCharCode(13) + data.login_version.compile_date + " " + data.login_version.compile_time;
				}
            } catch (error) {
                console.error('Error fetching updates:', error);
            }
        }
		
		fetchUpdates();
        // Polling function to fetch updates every 5 seconds
        setInterval(fetchUpdates, 5000);
    </script>
</div>
</body>
</html>
