<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="dashboard-container">
<script>
	function MakeCall(uri) {
		fetch(uri)
			.then(response => {
			// no need
			})
			.catch(error => {
				console.error('Error making call:', error);
			});
			fetchUpdates(); // get an update asap
	}
	function open_popup(target) {
    window.open(target, 'eq2emu_popup', 'width=400,height=400,resizeable,scrollbars');
	}
	
</script>
  <h2>Welcome, <%= username %>!</h2>
  <% server_status = "unavailable" %>
  <% if (server_loaded == 1 && login_status === 'online' && world_status === 'online' && worldlogin_connected === 'connected') {
	server_status = "available"
  } %>
  <% ls_status = "unavailable" %>
  <% if (login_status === 'online') {
	ls_status = "available"
  } %>
  <% ws_status = "unavailable" %>
  <% if (world_status === 'online') {
	ws_status = "available"
  } %>
  <h3 id="serverStatusHeader" class="<%= server_status %>"></h3>
  <p>Your role: <%= role %></p>
   <% if (role == 'admin') { %>
	<table><tr>
	<th><a href="/register">Create New Users</a></th>
	<th><a href="#" onclick="if(confirm('Are you sure you wish to force restart the dawn web server?') == true) MakeCall('/kill_server');">Kill/Restart Dawn Web Server</a></th>
	</tr></table><br/>
   <% } %>
  <table>
  <tr>
        <th>Server Type</th>
        <th>Status</th>
        <th>Uptime</th>
        <th>World->Login Connected</th>
        <th>Commands</th>
        <th>PID</th>
  </tr>
  <tr>
  <td>Login Server</td>
  <td id="statusLogin" class="<%= ls_status %>"><%= login_status %></td>
  <td id="statusLoginUptime">
  <% if (login_uptime !== '') { %>
	<%= login_uptime %>
  <% } %>
  </td>
  <td>N/A</td>
  <td>
  <% if (role == 'admin') { %>
		<button class="button" onclick="open_popup('/view_login_log')">View Login Log</button>
		<br/><br/>
  <% } %>
  <% if (login_pid == "-1" && role == 'admin' && (login_status === 'Unknown' || login_status === 'offline')) { %>
	 <button class="button" onclick="MakeCall('/start_login'); window.alert('Login Start Request Sent')">Start Login Server</button><br/>
  <% }
	 else if (login_pid != "-1" && role == 'admin') { %>
	 <button class="button" onclick="MakeCall('/stop_login'); window.alert('Login Stop Request Sent')">Stop Login Server</button>
	<% } %>
  </td>
  <td id="statusLoginPID"><%= login_pid %></td>
  </tr>
  
  
  <tr>
  <td>World Server</td>
  <td id="statusWorld" class="<%= ws_status %>"><%= world_status %></td>
  <td id="statusWorldUptime">
  <% if (world_uptime !== '') { %>
	<%= world_uptime %>
  <% } %>
  </td>
  <% wl_status = "unavailable" %>
  <% if (worldlogin_connected === 'connected') {
	wl_status = "available"
  } %>
  <td id="statusWorldLoginConnected" class="<%= wl_status %>"><%= worldlogin_connected %></td>
  <td>
  <% if (role == 'admin') { %>
		<button class="button" onclick="open_popup('/view_world_log')">View World Server Log</button>
	<br/><br/>
  <% } %>
  <% if (world_pid == "-1" && role == 'admin' && (world_status === 'Unknown' || world_status === 'offline')) { %>
	 <button class="button" onclick="MakeCall('/start_world'); window.alert('World Start Request Sent')">Start World Server</button><br/>
  <% }
	 else if (world_pid != "-1" && role == 'admin') { %>
	 <button class="button" onclick="MakeCall('/stop_world'); window.alert('World Stop Request Sent')">Stop World Server</button>
	<br/><br/>
		<button class="button" onclick="open_popup('/world_clients')">List World Clients</button>
	<% } %>
  </td>
  <td id="statusWorldPID"><%= world_pid %></td>
  </tr>
  </table>

  <a href="/">Logout</a>
  
  
    <script>
        // Function to fetch updates from the server
        async function fetchUpdates() {
            try {
                const response = await fetch('/dashboard_update');
                const data = await response.json();
                
                // Update the DOM with the fetched data
				var message = "Unknown Status";
				if(data.server_loaded == 0) {
						message = "Server is starting up, please wait!";
				   } else if(data.ls_status === 'unavailable' || data.ws_status === 'unavailable') {
						message = "Database and configuration loaded, login and/or world not yet online";
				} else if(data.worldlogin_connected !== 'connected') {
						message = "World is not connected to login server!";
				} else {
						message = "Server Running!";
				}
				
				server_status = "unavailable";
				if (data.server_loaded == 1 && data.login_status === 'online' && data.world_status === 'online' && data.worldlogin_connected === 'connected') {
					server_status = "available"
				}
				ls_status = "unavailable"
				if (data.login_status === 'online') {
					ls_status = "available"
				}
				ws_status = "unavailable"
				if (data.world_status === 'online') {
					ws_status = "available"
				}
				wl_status = "unavailable"
				if (data.worldlogin_connected === 'connected') {
					wl_status = "available"
				}
				
                document.getElementById('serverStatusHeader').innerText = message;
                document.getElementById('serverStatusHeader').className = server_status;
				document.getElementById('statusWorldPID').innerText = data.world_pid;
				document.getElementById('statusWorld').innerText = data.world_status;
				document.getElementById('statusWorld').className = ws_status;
				document.getElementById('statusWorldUptime').innerText = data.world_uptime;
				document.getElementById('statusWorldLoginConnected').innerText = data.worldlogin_connected;
				document.getElementById('statusWorldLoginConnected').className = wl_status;
				
				document.getElementById('statusLoginPID').innerText = data.login_pid;
				document.getElementById('statusLogin').innerText = data.login_status;
				document.getElementById('statusLogin').className = ls_status;
				document.getElementById('statusLoginUptime').innerText = data.login_uptime;
            } catch (error) {
                console.error('Error fetching updates:', error);
            }
        }
		
		fetchUpdates();
        // Polling function to fetch updates every 5 seconds
        setInterval(fetchUpdates, 5000);
    </script>
</div>
</body>
</html>
