<!DOCTYPE html>
<html>
<head>
  <title>Clients Table</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="dashboard-container">
  <h1>Clients</h1>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Client Version</th>
      <th>Admin Status</th>
    </tr>
    <% if (clients["Clients"] != "") {
		clients["Clients"].forEach(client => { %>
      <tr>
        <td><%= client.character_id %></td>
        <td><%= client.character_name %></td>
        <td><%= client.version %></td>
        <td><%= client.status %></td>
		<td>  <form action="/setadminstatus" method="POST">
    <label for="status">Change Status (Between -1 and 255):</label>
    <input type="hidden" id="charname" name="charname" value="<%= client.character_name %>">
    <input type="number" id="new_status" name="new_status" min="-1" max="255" required>
    <button type="submit">Update</button>
  </form></td>
      </tr>
    <% }); } %>
  </table>
</div>
</body>
</html>
