<!DOCTYPE html>
<html>
<head>
  <title>Clients Table</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="dashboard-container">
  <h1>Clients</h1>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Client Version</th>
      <th>Admin Status</th>
    </tr>
    <% if (clients["Clients"] != "") {
		clients["Clients"].forEach(client => { %>
      <tr>
        <td><%= client.character_id %></td>
        <td><%= client.character_name %></td>
        <td><%= client.version %></td>
		<td>  <form action="/setadminstatus" method="POST">
    <input type="hidden" size="0" id="charname" name="charname" value="<%= client.character_name %>">
    <input type="number" size="4" id="status" name="status" min="-2" max="255" value="<%= client.status %>" required>
    <button type="submit">Update</button><div class="responseMessage"></div>
  </form></td>
      </tr>
    <% }); } %>
  </table>
</div>
    <script>
        // Function to handle form submission dynamically
        function submitForm(event) {
            event.preventDefault(); // Prevent default form submission
            
            // Get the form element that triggered the event
            const form = event.target;
            const formData = new URLSearchParams(new FormData(form)).toString();

            // Send the form data using fetch
            fetch('/setadminstatus', { // Replace with your server endpoint
                method: 'POST',
				headers: {
                    'Content-Type': 'application/x-www-form-urlencoded' // Ensure proper Content-Type
                },
                body: formData
            })
            .then(data => {
                // Handle server response, e.g., updating the page dynamically
                form.querySelector('.responseMessage').innerHTML = "<span>&#10003;</span>";
            })
            .catch(error => {
                console.error('Error submitting form:', error);
            });
        }

        // Attach event listener to all forms on page load
        document.addEventListener('DOMContentLoaded', function() {
            // Get all forms on the page
            const forms = document.querySelectorAll('form');
            // Attach the submitForm function to each form's submit event
            forms.forEach(form => {
                form.addEventListener('submit', submitForm);
            });
        });
    </script>
</body>
</html>
